.menu>li:nth-child(4) {
  filter: grayscale(40%);
  background-color: #376996;
}

.container {
  padding-top: 4rem;
}

h1 {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Poiret One';
  text-align: center;
}

.tech {
  margin-bottom: 3rem;
}

.tech img {
  width: 75px;
  padding-bottom: 1rem;
}

.tech ul {
  border-top: 2px solid #1f487e;
  padding-top: 2rem;
  /* display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .5rem; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.tech ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 180px;
}

.projects>div {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 2px solid #1f487e;
  border-bottom: 2px solid #1f487e;
  padding: 3rem 0;
  text-align: center;
}

.projects img {
  width: 200px;
  height: 200px;
  border: 5px solid #1f487e;
  margin: 1rem 0;
  object-fit: cover;
}

.projects img:hover {
  border: 5px solid #562038;
}

.projects a {
  width: 300px;
  color: #000;
  text-decoration: none;
}

.projects p {
  padding-top: .5rem;
  font-size: .9rem;
}

.projects a div {
  padding: 1rem 0;
}

.projects h4 {
  font-weight: 600;
}

.projects h2 {
  padding-top: 3rem;
  font-size: 1.4rem;
}

h2 a {
  color: #1f487e !important;
  font-weight: 600;
}

h2 a:hover {
  color: #562038 !important;
}

.fa-buffer {
  color: #562038;
}
@media (max-width: 700px) {
.portfolio .container {
  padding-top: 1rem !important;
}
}